.idea
cmake-build-debug
CMakeLists.txt
.pycache
.vs
venv
__pycache__

[Bb]in/
[Oo]bj/

*.user
*.suo
*.userprefs

*.cache
*.nupkg
*.pdb
*.ilk

packages/
*.nupkg

*.bak
*.tmp
~$*

*.log
*.vs/

.vs/
.vscode/
*.sln.iml
*.csproj.user

*.msbuild
*.binlog

*.mdf
*.ldf
*.sdf

.azure/

.dockerignore

coverage/
*.coverage
*.cover

_ReSharper.*/
*.resharper

